body {
    font-family: "Heebo", sans-serif;
    color: #6be9f5;
}

.preloader .loader .spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    border-color: #6be9f5 #6be9f5 #e9e9e9;
    border-radius: 50%;
    border-width: 6px;
}

.button {
    height: 44px;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #6be9f5;
    color: #ffffff;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    padding: 0 25px;
    overflow: hidden;
}

.button.border-button {
    background: transparent;
    color: #6be9f5;
    border-color: #6be9f5;
}

.header.header-6 .navbar-nav .nav-item a:hover,
.header.header-6 .navbar-nav .nav-item a.active {
    color: #6be9f5;
    border-color: #6be9f5;
}

.header.header-6 .navbar-nav .nav-item .sub-menu li a.active,
.header.header-6 .navbar-nav .nav-item .sub-menu li a:hover {
    padding-left: 25px;
    color: #6be9f5;
}

.feature-style-5 .single-feature:hover {
    border-color: #6be9f5;
    box-shadow: 0px 8px 25px rgba(31, 168, 231, 0.35);
}

.feature-style-5 .single-feature .icon {
    color: #6be9f5;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    width: 110px;
    height: 100px;
    z-index: 1;
}

.feature-style-5 .single-feature p {
    text-decoration: none;
    color: #6be9f5;
}

.footer-style-4 .widget-wrapper .footer-widget .socials li a {
    background: rgba(47, 128, 237, 0.4);
    margin: 0;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    font-size: 20px;
}

.footer-style-4 .widget-wrapper .footer-widget .socials li a:hover {
    background: #6be9f5;
}

.footer-style-4 .widget-wrapper .footer-widget .links li a:hover {
    color: #6be9f5;
}

.footer-style-4 .copyright-wrapper p a:hover {
    color: #6be9f5;
}

.footer-style-4.footer-dark .widget-wrapper .footer-widget .socials li a:hover {
    background: #6be9f5;
}

.footer-style-4.footer-dark .widget-wrapper .footer-widget .links li a:hover {
    color: #6be9f5;
}

.btn-primary {
    background-color: #2321b9;
    border-color: #fff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #2321b9;
    color: #2321b9;
}