<div class="container">
    <div class="quest-name row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8" style="width: 700px">
            <div class="section-title text-center mb-60">
                <h3 class="mb-15" id="pregunta"></h3>
            </div>
        </div>
    </div>
    <div class="quests row">
        <div class="col-lg-6 col-md-6">
            <p class="puntuacion mb-5">
                <strong>Puntuación:</strong> <span id="puntuacion">0</span>
            </p>
        </div>
        <div class="col-lg-6 col-md-6">
            <p class="time mb-5">
                <strong>Tiempo restante:</strong> <span id="timer">00:00</span>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-feature quest1" id="boton1">
                    <div class="content">
                        <p id="respuesta1"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-feature quest2" id="boton2">
                    <div class="content">
                        <p id="respuesta2"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-feature quest3" id="boton3">
                    <div class="content">
                        <p id="respuesta3"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-feature quest4" id="boton4">
                    <div class="content">
                        <p id="respuesta4"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>