<div class="row">
	<div class="col">
		<a href="../gameView.html" id="jugar">
			<div class="single-feature">
				<div class="content">
					<h5>Jugar</h5>
				</div>
			</div>
		</a>
	</div>
	<div class="col">
		<a href="#addquestion" id="addquestion">
			<div class="single-feature">
				<div class="content">
					<h5>Añadir pregunta</h5>
				</div>
			</div>
		</a>
	</div>
	<div class="col">
		<a href="#puntuacion" id="puntuacion">
			<div class="single-feature">
				<div class="content">
					<h5>Mi puntuación</h5>
				</div>
			</div>
		</a>
	</div>
</div>