<div class="container">
	<div class="row">
		<div class="col">
			<a href="./gameView.html">
				<div class="single-feature cursor-pointer" id="jugar">
					<div class="content">
						<h5>Jugar</h5>
					</div>
				</div>
			</a>
		</div>
		<div class="col">
			<div class="single-feature cursor-pointer" id="preguntas">
				<div class="content">
					<h5>Añadir pregunta</h5>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="single-feature cursor-pointer" id="historial">
				<div class="content">
					<h5>Historial</h5>
				</div>
			</div>
		</div>
	</div>
</div>