<div class="row">
	<div class="col-md-4 d-flex justify-content-around">
		<button class="btn btn-primary btn-lg redondo">Jugar</button>
	</div>
	<div class="col-md-4 d-flex justify-content-around"><button
			class="btn btn-primary btn-lg redondo disabled">Continuar</button>
	</div>
	<div class="col-md-4 d-flex justify-content-around"><button
			class="btn btn-primary btn-lg redondo disabled">Reset</button>
	</div>
</div>
<div class="row my-5">
	<div class="col-md-6">
		<button class="btn btn-primary btn-lg redondo">Añadir preguntas</button>
	</div>
	<div class="col-md-6">
		<button class="btn btn-primary btn-lg redondo">Mi puntuación</button>
	</div>
</div>