<section id="home" class="hero-section-wrapper-5">
    <header class="header header-6">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="https://www.fundacionmapfreguanarteme.org/" target="_blank">
                                <img class="img-fluid" src="media/imagenes/logo.jpg" alt="Fundación MAPFRE Guanarteme"
                                    id="logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent6"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent6">
                                <ul id="nav6" class="navbar-nav ms-auto">
                                    <li class="nav-item mb-1">
                                        <a href="#inicio" class="active" id="index">Inicio</a>
                                    </li>
                                    <li class="nav-item mb-1">
                                        <a href="#documentos" class="" id="documents">Documentos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#juego" class="" id="game">Juego</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-action d-flex">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#accesibility">
                                    <i class="bi bi-universal-access-circle"></i>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<!-- Modal accesibility -->
<div class="modal fade" id="accesibility" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true"
    data-bs-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content text-center" id="modal_content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" style="font-size: 24px;">
                        Opciones
                    </h5>
                </div>
                <div class="modal-body black-text">
                    <h6 class="mb-3" style="font-size: 20px;">Tamaño de letra</h6>
                    <p>
                        <span class="smaller" style="font-size: 13px;">A</span>
                        <input type="range" min="13" max="20" value="16" step="1" class="slider" id="myRange"
                            style="font-size: 16px;">
                        <span class="bigger" style="font-size: 20px;">A</span>
                        <br />
                        <output id="outputRange" style="font-size: 16px;"></output>
                    </p>
                    <hr />
                    <h6 class="mb-3" style="font-size: 20px;">Tema</h6>
                    <p>
                        <button type="button" class="btn btn-outline-dark" value="light" id="themeButton"
                            style="font-size: 16px;">
                            <i class="bi bi-brightness-high"></i>
                            (Claro)
                        </button>
                    </p>
                    <hr />
                    <h6 class="mb-3" style="font-size: 20px;">Modo para daltónicos</h6>
                    <p>
                        <button type="button" class="btn btn-warning black-text-daltonic" value="0" id="daltonicButton"
                            style="font-size: 16px;">
                            <i class="bi bi-eyeglasses"></i> (Apagado)
                        </button>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="close"
                    style="font-size: 16px;">
                    Salir
                </button>
            </div>
        </div>
    </div>
</div>