<div class="container">
    <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8" style="width: 700px">
            <div class="section-title text-center mb-60">
                <h3 class="mb-15">Historial de partidas</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Nº Partida</th>
                        <th scope="col">Puntuación</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <div class="d-grid gap-2">
                <button type="button" id="volver" class="btn btn-primary"><i class="bi bi-arrow-left"></i>
                    Volver</button>
            </div>
        </div>
    </div>
</div>