<div class="row justify-content-center">
    <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8" style="width: 700px">
        <div class="section-title text-center mb-60">
            <h3 class="mb-15">Historial de partidas</h3>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Nombre del archivo</th>
                    <th>Descargar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Seguro Combinado del Hogar</td>
                    <td class="text-center"><a class="btn btn-success"
                            href="./documentos/seguro-combinado-del-hogar.pdf"
                            download="seguro-combinado-del-hogar.pdf"><i class="bi bi-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Seguro de Edificio de Viviendas</td>
                    <td class="text-center"><a class="btn btn-success"
                            href="./documentos/seguro-de-edificio-de-viviendas.pdf"
                            download="seguro-de-edificio-de-viviendas.pdf"><i class="bi bi-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Seguro de Protección de Alquileres</td>
                    <td class="text-center"><a class="btn btn-success"
                            href="./documentos/seguro-de-proteccion-de-alquileres.pdf"
                            download="seguro-de-proteccion-de-alquileres.pdf"><i class="bi bi-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Seguro Multirriesgo Comercios y Autoemprendedores</td>
                    <td class="text-center"><a class="btn btn-success"
                            href="./documentos/seguro-multirriesgo-comercios-y-autoemprendedores.pdf"
                            download="seguro-multirriesgo-comercios-y-autoemprendedores.pdf"><i
                                class="bi bi-download"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Seguro Multirriesgo Empresarial</td>
                    <td class="text-center"><a class="btn btn-success"
                            href="./documentos/seguro-multirriesgo-empresarial.pdf"
                            download="seguro-multirriesgo-empresarial.pdf"><i class="bi bi-download"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2">
            <button type="button" id="volver" class="btn btn-primary">Volver</button>
        </div>
    </div>
</div>