<div class="container">
    <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8" style="width: 700px">
            <div class="section-title text-center mb-60">
                <h3 class="mb-15">
                    BIENVENIDOS A LA PLATAFORMA DE EDUCACIÓN
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#documentos">
                <div class="single-feature">
                    <div class="icon">
                        <i class="bi bi-file-earmark-text"></i>
                    </div>
                    <div class="content">
                        <h5>Documentos</h5>
                        <p>Sección para descargar documentos de estudio</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#juego">
                <div class="single-feature">
                    <div class="icon">
                        <i class="bi bi-controller"></i>
                    </div>
                    <div class="content">
                        <h5>Juegos</h5>
                        <p>Pon a prueba tus conocimientos mientras juegas</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>