<div class="container">
    <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8" style="width: 700px">
            <div class="section-title text-center mb-60">
                <h3 class="mb-15">
                    BIENVENIDOS A LA PLATAFORMA DE EDUCACIÓN
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <a href="#documentos">
                <div class="single-feature">
                    <div class="icon">
                        <i class="bi bi-file-earmark-text"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 110,54.7589 C 110,85.0014 84.489937,82.202038 54.114237,82.202038 23.738537,82.202038 0,85.0014 0,54.7589 0,24.5164 24.6243,0 55,0 c 30.3757,0 55,24.5164 55,54.7589 z"
                                fill="#d33f2b0c" />
                        </svg>
                    </div>
                    <div class="content">
                        <h5>Documentos</h5>
                        <p>Sección para descargar documentos de estudio</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <a href="#juego">
                <div class="single-feature">
                    <div class="icon">
                        <i class="bi bi-controller"></i>
                        <svg width="110" height="72" viewBox="0 0 110 72" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M 110,54.7589 C 110,85.0014 84.489937,82.202038 54.114237,82.202038 23.738537,82.202038 0,85.0014 0,54.7589 0,24.5164 24.6243,0 55,0 c 30.3757,0 55,24.5164 55,54.7589 z"
                                fill="#d33f2b0c" />
                        </svg>
                        <h1>hola</h1>
                    </div>
                </div>
                <div class="content">
                    <h5>Juegos</h5>
                    <p>Pon a prueba tus conocimientos mientras juegas</p>
                </div>
            </a>
        </div>
    </div>
</div>