.menuButton {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}